body {
    font-family:Verdana;
    
}
hr {
        margin-top:0px;

}
.title {
    background-color:rgb(10, 35, 40);
    margin-top:2px;
    width: 800px;
    height:30px;
    color:white;
    vertical-align:middle;
}

.error {
    color:red;
}
